<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput placeholder="Producto" formControlName="nombre">
                            <mat-error *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched">El nombre del Producto es <strong>Obligatorio</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Categoria</mat-label>
                            <input type="text" matInput placeholder="Categoria" formControlName="categoria">
                            <mat-error *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">La categoria del Producto es <strong>Obligatoria</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Ubicacion</mat-label>
                            <input type="text" matInput placeholder="Ubicacion" formControlName="ubicacion">
                            <mat-error *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">La ubicacion del Producto es <strong>Obligatoria</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Precio</mat-label>
                            <input type="number" matInput placeholder="Precio" formControlName="precio">
                            <mat-error *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">El precio del Producto es <strong>Obligatorio</strong></mat-error>
                        </mat-form-field>

                        <div class="d-flex justify-content-between">
                            <button mat-stroked-button color="primary" class="btn btn-secondary btn-lg" routerLink="/">VOLVER</button>
                            <button mat-raised-button color="primary" type="submit" [disabled]="productoForm.invalid">CREAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>